<ul class="topnav">
    <li>
        <a class="active" href="/">
            <img class="client_logo" src="/static/images/company_logo.png" alt="">
        </a>
    </li>
   <li class="right"><a href="/logout">logout</a></li>
   <li class="right"><a href="/activities">Apps</a></li>
   <li class="right" style="margin-top: 1.5%;"><a href="/select_quiz">Quiz</a></li>
   <li class="right" style="margin-top: 1.5%;"><a href="/select_survey">Survey</a></li>
   <li class="right"><a href="/">Courses</a></li>
   <li class="right"><b><a href="#">{{session["student"]}}</b></a></li>
</ul>