{% extends 'base_form_template.html'%}
{% block style %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
{%block content%}
<div class="credentials">
    <h2>URL</h2>
    <h3>bdemo.pythonanywhere.com</h3>
    <h2>Username / Password</h2>
    <h3>chatgpt / chatgpt</h3>
    <img src="static/images/qr_code.png" alt="QR Code">
</div>


{% endblock %}