{% extends 'base_form_template.html'%}
{% block style %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
{%block content%}
<div class="credentials">
    <h2>URL</h2>
    <h3>vinsys.pythonanywhere.com</h3>
    <h2>Username / Password</h2>
    <h3>adic / adic4u#</h3>
    <img src="static/images/qr_code.png" alt="QR Code">
</div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>User ID</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>Alya Ahmed Almarri</td><td>adic02</td><td>adic4u#02</td></tr>
        <tr><td>2</td><td>Sara Almheiri</td><td>adic03</td><td>adic4u#03</td><td></td></tr>
        <tr><td>3</td><td>Anthony Franzini</td><td>adic04</td><td>adic4u#04</td><td></td></tr>
        <tr><td>4</td><td>Hariharan Sundaresan</td><td>adic05</td><td>adic4u#05</td><td></td></tr>
        <tr><td>5</td><td>Manish Aggarwal</td><td>adic06</td><td>adic4u#06</td><td></td></tr>
        <tr><td>6</td><td>Naveen Mannava</td><td>adic07</td><td>adic4u#07</td><td></td></tr>
        <tr><td>7</td><td>Zohaib Arshad</td><td>adic08</td><td>adic4u#08</td><td></td></tr>
        <tr><td>8</td><td>Sultan Alremeithi</td><td>adic09</td><td>adic4u#09</td><td></td></tr>
        <tr><td>9</td><td>Vijay Kumar</td><td>adic10</td><td>adic4u#10</td><td></td></tr>
        <tr><td>10</td><td>Yousif Alqemzi</td><td>adic11</td><td>adic4u#11</td><td></td></tr>
        <tr><td>11</td><td>Atif Muhammad</td><td>adic12</td><td>adic4u#12</td><td></td></tr>
        <tr><td>12</td><td>Salman Zaker</td><td>adic13</td><td>adic4u#13</td><td></td></tr>
        <tr><td>13</td><td>Saad Ur Rahman</td><td>adic14</td><td>adic4u#14</td><td></td></tr>
        <tr><td>14</td><td>Yaseen Shaikh</td><td>adic15</td><td>adic4u#15</td><td></td></tr>
        <tr><td>15</td><td>Tarun Cherian</td><td>adic16</td><td>adic4u#16</td><td></td></tr>
        <tr><td>16</td><td>Dhabia Almansoori</td><td>adic17</td><td>adic4u#17</td><td></td></tr>
    </tbody>
</table>
{% endblock %}